* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 32px;
  padding: 30px;
  color: white;
}

body {
  background-color: darkgray;
}

.container {
  margin: 80px auto;
  max-width: 640px;
  width: 100%;
}

form {
  margin-top: 40px;
}

input,
button {
  display: block;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  resize: none;
}

button {
  background-color: rgb(231, 42, 9);
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  cursor: pointer;
}

button:hover {
  background-color: rgb(44, 12, 224);
}

.sucess-message {
  background-color: rgb(12, 15, 192);
  padding: 16px;
  color: white;
  display: none;
}

.error-message {
  font-size: 12px;
  padding: 8px;
  background-color: red;
  color: white;
  margin-bottom: 8px;
  display: none;
}
